# .gitignore for Android Studio project

# Gradle related
.gradle/

# Android Studio related
/.idea/
*.iml

# Build outputs and intermediates
/build/
/*/build/

# Local environment related
/local.properties

